* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
}

body {
    background: #eee;
    padding: 0 .7rem;
}

header {
    background-image: url('../../assets/img/04.jpg');
    position: relative
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -40px;
    background-color: white;
    border-radius: 1rem;
    padding-top: 40px;
    box-shadow: 1px 3px 5px #ccc
}

.section {
    display: flex;
    padding: 1rem 5rem;
    align-items: center
}
table{
    padding: 0 1rem;
}

.section-image {
    color: white;
    display: flex;
    padding: 2.5rem;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin: 0 5rem;
    border-radius: 15px;
}

.title-section {
    font-size: 1.875rem;
    line-height: 1.375
}

.subtitle-section {
    margin: .5rem 0;
    font-size: 1rem;
    color: #8f8f8f
}

.button-more {
    background-color: #51AB55;
    color: white;
    padding: .7rem 1rem;
    border-radius: 5px
}

.form-newsletter form {
    display: flex;
    gap: 1rem
}

.form-newsletter input {
    padding: 0 1rem;
    border: 1px solid #b3adad;
    border-radius: 5px;
    font-size: 1rem
}

.form-newsletter button {
    border-radius: 5px;
    border: none;
    background-color: #2881EA;
    color: white;
    font-size: .9rem;
    padding: .5rem 1rem
}

.menu-float {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10
}

.menu {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    padding: 1rem 1.5rem;
    border-radius: 20px;
    width: 900px;
    z-index: 10;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu span {
    color: #b0b0b0;
}

.menu span b {
    color: white;
}

.service-img {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 10px;
    height: 48px;
    width: 48px;
    transition: all .2s ease-in-out;
}

.hero {
    justify-content: center;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: .6rem;
}

.hero p {
    font-size: 1.3rem;
    font-weight: bold
}

.hero h1 {
    font-size: 1.8rem
}

.hero-internal {
    height: 150px
}

table td {
    padding: .5rem;
    border-bottom: 1px solid #eee;
}

.table-h {
    color: #7b809a;
    font-size: .8rem;
}

.table-secondary {
    color: #7b809a;
    font-size: .75rem
}

.table-primary {
    color: #24292E;
    font-size: .75rem;
}

footer {
    max-width: 1200px;
    position: relative;
    margin: 1.5rem auto
}

footer h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #7b809a;
    margin-bottom: 1rem
}

footer small {
    color: #7b809a;
    font-weight: 300;
    font-size: .9rem
}

.menu-mobile {
    position: fixed;
    background: #24292E;
    width: 100%;
    z-index: 10;
    padding-top: 1rem;
    display: none;
}

.menu-mobile .menu-item {
    display: none;
    flex-direction: column;
}

.hambuguer {
    width: 50px;
    padding: .5rem 1rem;
    font-size: 20px;
    right: 20px;
    top: 25px;
    background-color: #b7b7b7;
    color: white;
    border: none;
    z-index: 20;
}

.width-50 {
    width: 50%;
}

.menu-mobile p {
    color: #b0b0b0;
    text-align: center;
    padding-bottom: 1rem;
}

.menu-mobile b {
    color: white;
}

.image-home {
    width: 100%;
}

.menu-mobile .menu-item a {
    color: white;
    border-bottom: 1px solid rgba(243, 243, 243, 0.42);
    padding: 1rem;
}

.menu-mobile .menu-item a:hover {
    background-color: #7b809a;
}

.menu-mobile .btn a {
}

.form-newsletter img {
    max-width: 400px;
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: row;
}

.columns .cite {
    text-align: right;
}

.ml-3 {
    margin-left: 3rem
}
.services{
    width: 100%;
}

@media (max-width: 1000px) {
    .menu-mobile {
        display: block;
    }

    .menu-float {
        display: none;
    }
}

@media (max-width: 768px) {
    table{
        padding:0;
    }
    .ml-3 {
        margin-left: 0
    }

    .columns {
        flex-direction: column;
    }

    .columns .cite {
        text-align: center;
    }


    .hero {
        text-align: center;
    }

    .width-50 {
        width: 100%;
    }

    .section {
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .image-home {
        width: 100%;
        margin-top: 2rem;
    }

    .form-newsletter form {
        flex-direction: column;
    }

    .form-newsletter input {
        padding: .5rem;
    }

    .form-newsletter button {
        font-size: .75rem;
    }

    .form-newsletter img {
        max-width: 400px;
        width: 100%;
    }

    .centerable {
        text-align: center;
    }

    .cite {
        margin-top: 1rem;
    }

    footer {
        text-align: center;
    }

    .section-image {
        margin: 0;
        padding: 1rem;
        flex-direction: column;
    }

    .section-image-article {
        margin-left: 0
    }
}